<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aptogether.mapper.ComplaintMapper">

 <select id = "getComplaintList" resultType="org.aptogether.domain.ComplaintVO">
 <![CDATA[
select * from complaint_board where compbno > 0
]]>
</select> 

   <select id = "getComplaintListWithPaging" resultType = "org.aptogether.domain.ComplaintVO">
	<![CDATA[
	select
	comptitle, compemail, comptel, compcontent, compdate, compbno
	from 
	(
	select /*+INDEX_DESC(complaint_board pk_complaint) */
		rownum rn, comptitle, compemail, comptel, compcontent, compdate, compbno
		from
		complaint_board
		where rownum <= #{pageNum} * #{amount}
		)
		where rn > (#{pageNum} -1) * #{amount}
	]]> 
</select> 

	  <insert id = "insert" parameterType="org.aptogether.domain.ComplaintVO">
		insert into COMPLAINT_BOARD values (#{comptitle},#{compemail},#{comptel},#{compcontent},
		 sysdate, compboard_seq.nextval)
	</insert>   
	
	 <!-- <select id="read" resultType="org.aptogether.domain.ComplaintVO">
		select * from comp_board where compbno = #{compbno}
	</select>  -->
	
	 <delete id = "delete">
		delete from complaint_board where compbno = #{compbno}
	</delete>
	
	 <!-- <update id ="update">
		update comp_board
		set comptitle= #{comptitle},
		compcontent=#{compcontent},
		compcompdate=sysdate
		where compbno=#{compbno}
	</update> -->
	<select id = "getComplaintTotal" resultType="int">
		select count(*) from complaint_board where compbno > 0
	</select> 
</mapper>
