<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aptogether.mapper.ComplaintMapper">

<select id = "compList" resultType="org.aptogether.domain.ComplaintVO">
<![CDATA[
select * from comp_board where seq > 0
]]>
</select>

<insert id = "insert">
		insert into COMP_BOARD values ( #{title},#{email}, #{tel}, #{content},
		#{fname, jdbcType=VARCHAR}, sysdate, compboard_seq.nextval)
	</insert>
</mapper>