<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mtbatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.aptogether.mapper.FeeMapper">

	<select id="listDong" resultType="org.aptogether.domain.HouseholdVO">
		select dong from household 
	    where apt_seq = #{aptSeq} 
	    group by dong
	    order by dong
	</select>
	
	
<!-- 	<resultMap type="org.aptogether.domain.LevyVO" id="LevyMap">
		<id property="levySeq" column="levy_seq"/>
		<result property="levySeq" column="levy_seq"/>
		
		<collection property="feeList" resultMap="feeMap"></collection>
	</resultMap> -->
	
	<resultMap type="org.aptogether.domain.FeeRegisterVO" id="FeeRegisterMap">
<!-- 		<id property="levySeq" column="levy_seq"/> -->
		<id property="householdSeq" column="household_seq"/>
		<result property="levyDate" column="levy_date"/>
		<result property="dong" column="dong"/>
		<collection property="feeList" resultMap="feeMap"></collection>
	</resultMap>
	
	
	
	<resultMap type="org.aptogether.domain.FeeVO" id="feeMap">
		<result property="levySeq" column="levy_seq"/>
		<result property="householdSeq" column="household_seq"/>
		<result property="generalBill" column="general_bill"/>
		<result property="securityBill" column="security_bill"/>
		<result property="cleaningBill" column="cleaning_bill"/>
		<result property="fumigationBill" column="fumigation_bill"/>
		<result property="elevatorBill" column="elevator_bill"/>
		<result property="electricityBill" column="electricity_bill"/>
		<result property="waterBill" column="water_bill"/>
		<result property="ho" column="ho"/>
	</resultMap>

	
	<select id="listFeeReg" resultMap="FeeRegisterMap">
<!--  		select l.levy_date, f.general_bill, f.security_bill, f.cleaning_bill, f.fumigation_bill, f.elevator_bill, f.electricity_bill, f.water_bill
		from fee f, levy l
		where 
		l.levy_seq = f.levy_seq
		and l.levy_date= #{levyDate}  -->
	
  		select l.levy_date  levy_date, h.dong, h.ho, f.general_bill, f.security_bill, f.cleaning_bill, f.fumigation_bill, f.elevator_bill, f.electricity_bill, f.water_bill
		from fee f, household h, levy l
		where f.household_seq = h.household_seq
		and l.levy_seq = f.levy_seq
		and  h.dong = #{dong}
		and l.levy_date= #{levyDate}
		order by h.ho asc  
	</select>
	
	
<!--  	<insert id="insertFee">
 		<selectKey keyProperty="feeSeq" order="BEFORE" resultType="int">
 			select manage_fee_seq.nextval from dual
 		</selectKey>
 	
		insert into manage_fee values(#{feeSeq}, #{memberSeq}, #{generalFee}, #{securityFee}, #{cleaningFee}, 
														 #{fumigationFee}, #{liftMaintenanceFee}, #{electricityFee}, #{waterFee},
														 #{heatingFee},  to_date(#{payDate}, 'YYYY-MM-DD'))
	</insert>
	
	<select id="listFee" parameterType="org.aptogether.domain.MemberVO" resultType="org.aptogether.domain.FeeVO">
		select ma.* from
									manage_fee ma left join member me
									on ma.member_seq = me.member_seq
									where me.apt_seq = #{aptSeq}
									and me.member_seq = #{memberSeq}
									order by ma.pay_date desc
	</select>

	<select id="listFeeRowNum"  resultType="org.aptogether.domain.FeeVO">
	<![CDATA[
	select *
	from
			(
			select ma.* from 
								manage_fee ma left join member me
								on ma.member_seq = me.member_seq
								where me.apt_seq = #{aptSeq}
								and me.member_seq = #{memberSeq}
								order by ma.pay_date desc
			 ) 
		where rownum <= 6
	]]>
	</select> -->
	
</mapper>















