<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- (reply_no,reply_writer,reply_contents) -->
<mapper namespace="org.aptogether.mapper.MarketReplyMapper">
	<insert id="marketReplyInsert">
	insert into MarketReply values(market_reply_seq.nextval,#{reply_writer},#{reply_contents},sysdate,#{seq})
	</insert>
	<cache />
</mapper>















