@charset "UTF-8";

.main-section {
	background-image: url('/resources/img/apt.jpg');
	background-position: center;
	background-size: cover;
	height: calc(100%);
	padding: 200px 0;
	box-sizing: border-box;
}

.select-box {
	height: 300px;
	text-align: center;
	border: solid black 1px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	margin-bottom: 30px;
}

.user {
	font-size: 23px;
	text-align: center;
	padding: 20px 0
}
.link {
	font-size: 22px;
	display: block;
}