@charset "UTF-8";

#poll_hitcount{
	width: 20px;
}

.margin-auto{
	margin: auto;
}

.float-left2{
	float: left;
	height: 80px;
}

.margin-bottom-button{
	margin-bottom: 10px;
}

.margin-left-span{
	margin-left: 18%;
}

.max-width-card{
	max-width: 28rem;
}

.custom-bg{
	background-color: #45464e;
}

.alert{
	display: none;
}

.bigPicture{
	width: 100%;
}

.pollList{
	margin-top: 1em;
}

